$small: 390px;
$medium: 1024px;
$large: 1130px;

body {
  background-color: #000;
  color: #fff;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
}

.section > * {
  max-width: 1130px;
  width: 100%;
}

.headline {
  align-items: center;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 15.6px;
  margin-bottom: 32px;
  text-transform: uppercase;

  &::before {
    border-bottom: 1px solid #ff2325;
    content: "";
    height: 1px;
    margin-right: 16px;
    width: 32px;
  }
}

.heading {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 40px;

  @media (min-width: $medium) {
    width: 350px;
  }
}

.steps {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 64px 0;

  @media (min-width: $medium) {
    flex-direction: row;
    justify-content: center;
    margin: 145px 0 130px 0;
  }
}

.nav-link {
  align-items: center;
  border-radius: 64px;
  border: 1px solid #ff2325;
  display: inline-flex;
  font-size: 20px;
  font-weight: 500;
  height: 57px;
  justify-content: center;
  line-height: 25px;
  padding: 16px 36px 16px 32px;
  text-align: center;

  img {
    display: inline-block;
    margin-right: 8px;
  }
}

.process-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $medium) {
    flex-direction: row;
  }
}

.process-step {
  background-color: #171717;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 32px;

  @media (min-width: $medium) {
    flex: 1;
  }
}

.step-number {
  align-items: center;
  background-color: #ff2325;
  border-radius: 9.6px;
  color: #000;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.step-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.vision-container {
  font-size: 26px;
  font-weight: 500;
  line-height: 36.4px;
  margin-top: 95px;
  max-width: 800px;
  text-align: center;

  @media (min-width: $medium) {
    margin-bottom: 200px;
    margin-top: 240px;
  }
}

.highlight-text {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 5px;
}

.financial-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.financial-card {
  background-color: #ffe0e0;
  border-radius: 8px;
  padding: 24px 24px 32px 24px;

  @media (min-width: $medium) {
    width: 264px;
  }
}

.financial-value {
  color: #ff2325;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 50px;
}

.financial-description {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.5px;
  margin: 12px 0;
}

.financial-tag {
  color: #807070;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 15.6px;
  text-transform: uppercase;
}

.promo-container {
  margin-top: 56px;

  @media (min-width: $medium) {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 64px;
    margin-top: 104px;
  }
}

.promo-info {
  @media (min-width: $medium) {
    width: 500px;
  }
}

.promo-card {
  background-color: #000;
  background-image: url("/bg-car.png");
  background-position: center;
  border-radius: 8px;
  height: 342px;
  margin: 0 auto;
  margin-bottom: 32px;
  position: relative;
  width: 342px;

  @media (min-width: $medium) {
    height: 414px;
    margin: 0;
    margin-left: auto;
    width: 438px;
  }
}

.promo-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.promo-logo {
  margin: 0 auto 24px auto;
}

.heading2 {
  @media (min-width: $medium) {
    width: 100%;
  }
}

.feature-item {
  align-items: center;
  display: flex;
  margin: 18px 0;
}

.feature-box {
  align-items: center;
  background-color: #ebebeb;
  border-radius: 9.6px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
}

.feature-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
}
